# CMake
build

# Resulting binary files
*.a
*.so
*.s
*.hex
*.bin
*.map
*.out
!bootloader/*.hex
!src/libs/nRF52/softdevice/s112/hex/*.hex

# Linux
**/.directory
**/*.swp

# OSX/MacOS
**/.DS_Store

# Windows
**/thumbs.db